
	<canvas data-type="radial-gauge"
    data-width="225"
	data-height="225"
    data-animation-duration="200"
    data-border-shadow-width="0"
    data-color-needle-shadow-down="#333"
    data-color-border-outer-end="#111"
    data-color-border-outer="#333"
    data-borders="true"
    data-needle-width="2"
    data-needle-type="arrow"
    data-animation-rule="linear"
    data-needle-circle-outer="true"
    data-needle-circle-size="7"
    data-color-needle-circle-outer="#333"
    data-color-numbers="#eee"
    data-color-minor-ticks="#ddd"
    data-color-major-ticks="#ddd"
    data-color-plate="#222"
    data-highlights='[ {"from": -40, "to": 0, "color": "rgba(0,0, 255, .3)"}, {"from": 0, "to": 40, "color": "rgba(115, 244, 2, .3)"},{"from": 41, "to": 90, "color": "rgba(255, 0, 0, .3)"} ]' data-stroke-ticks="true"
    data-start-angle="67.5"
    data-ticks-angle="225"
    data-minor-ticks="2"
    data-major-ticks="[-40,-30,-20,-10,0,10,20,30,40,50,60,70,80,90]"
    data-max-value="85"
    data-min-value="-40"
    data-color-title="#eee"
    data-title="Sıcaklık"
    data-units="°C"
    data-needle-circle-inner="false"

    data-color-value-box-rect-end="#333"
    data-color-value-box-rect="#222"
    data-value-box-border-radius="0"
    data-color-needle-circle-inner-end="#222"
    data-color-needle-circle-inner="#111"
    data-color-needle-circle-outer-end="#111"
    data-color-border-inner-end="#333"
    data-color-border-inner="#111"
    data-color-border-middle-end="#111"
    data-color-border-middle="#222"
    data-color-units="#ccc"
	></canvas>
