<section class="3u 6u(medium) 12u$(xsmall) profile">
								<canvas data-type="radial-gauge"
        data-value="10"
        data-width="225"
        data-height="225"
        data-bar-width="7"
        data-bar-shadow="3"
		data-major-ticks="-20,-10,0,10,20,30,40,50"
        data-color-bar-progress="rgba(244, 83, 2,.75)"
		data-units="°C"
        data-title="Oda Sıcaklık"
        data-min-value="-20"
        data-max-value="50"
		   data-highlights='[
                    {"from": -20, "to": 0, "color": "rgba(68, 71, 252, .3)"},
					 {"from": 0, "to": 10, "color": "rgba(68, 227, 252, .3)"},
					{"from": 10, "to": 30, "color": "rgba(111, 244, 2, .3)"},
                    {"from": 30, "to": 40, "color": "rgba(249, 252, 68, .3)"},
					{"from": 40, "to": 50, "color":"rgba(244, 67, 2,.75)"}
                ]'
		data-minor-ticks="2
		data-stroke-ticks="true"
		data-font-title-size="10px"
		data-font-units-size="10px"
></canvas>
</section>