<canvas data-type="linear-gauge"
    data-width="120"
    data-height="225"
    data-units="m"
    data-min-value="0"
    data-max-value="5000"
    data-major-ticks="0,500,1000,1500,2000,2500,3000,3500,4000,4500,5000"
    data-minor-ticks="2"
    data-stroke-ticks="true"
    data-highlights='[ {"from": 0, "to": 1000, "color": "rgba(200, 50, 50, .75)"} ]'
    data-color-plate="#fff"
    data-border-shadow-width="0"
    data-borders="false"
    data-needle-type="arrow"
    data-needle-width="2"
    data-animation-duration="200"
    data-animation-rule="linear"
    data-tick-side="left"
    data-number-side="left"
    data-needle-side="left"
    data-bar-stroke-width="7"
    data-bar-begin-circle="false"
    
></canvas>