<section class="3u 6u(medium) 12u$(xsmall) profile">
							
	<canvas data-type="radial-gauge"
        data-value="40"

        data-width="225"
        data-height="225"
		data-major-ticks="30,40,50,60,70,80,90,100"
		data-units="°C"
        data-title="CPU Sıcaklık"
        data-min-value="30"
        data-max-value="100"
		data-minor-ticks="1"
        data-stroke-ticks="true"
        data-highlights='[
                    {"from": 40, "to": 60, "color": "rgba(0,0, 255, .3)"},
                    {"from": 60, "to": 80, "color": "rgba(255,0, 0, .3)"},
					{"from": 80, "to": 100, "color":"rgba(244, 67, 2,.75)"}
                ]'
		data-font-title-size="14px"
		data- font-numbers-size="16px"
		data-font-units-size="14px"

></canvas>
</section>